<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Movies</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Подключите ваши стили -->
</head>
<body>
    <h1>Search Movies</h1>
    <form id="searchForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br><br>

        <!-- <label for="year">Year:</label>
        <input type="number" id="year" name="year"><br><br>

        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre"><br><br>

        <label for="director">Director:</label>
        <input type="text" id="director" name="director"><br><br> -->

        <button type="submit">Search</button>
    </form>

    <div id="results"></div>

    <script>
        document.getElementById('searchForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Предотвращаем стандартное поведение формы

            const formData = new FormData(this);
            const params = new URLSearchParams(formData).toString();

            const response = await fetch(`/api/search?${params}`);
            const data = await response.json();

            // Обработка результатов
            const resultsDiv = document.getElementById('results');
            resultsDiv.innerHTML = ''; // Очищаем предыдущие результаты

            if (data.movies && data.movies.length > 0) {
                data.movies.forEach(movie => {
                    const movieDiv = document.createElement('div');
                    movieDiv.innerHTML = `<h3>${movie.movie_title} (${movie.year})</h3>
                                          <p>Director: ${movie.director}</p>
                                          <p>Rating: ${movie.average_rating}</p>
                                          <p>Description: ${movie.description || 'N/A'}</p>`;
                    resultsDiv.appendChild(movieDiv);
                });
            } else {
                resultsDiv.innerHTML = '<p>No movies found.</p>';
            }
        });
    </script>
</body>
</html>
